*{
    margin: 0; 
    border: 0 ;
    padding: 0; 
    font-family: 'Signika', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

.inline-block{
    display: inline-block;
}
.navbor{
    background-color: #085394;
    color: #fff;
    font-size: 36px;
    padding: 10px 10px 10px 5% ;
}

.flex{
    display: flex;
    padding: 20px;
}
.flex-container-rowR{
    flex-direction:row-reverse ;
}
.flex-container-row{
    flex-direction: row;
    margin-bottom: 15px;
}
.flex-container-col{
    flex-direction: column;
}
.flex-0-0-auto{
    flex: 0 0 auto;
}
.flex-wrap{
    flex-wrap: wrap;
}
.card{
    width: 400px;
    height: 550px;
    background-color: white;
    border-radius: 30px;
}
.card-s{
    width:150px;
    height: 150px;
    background-color: white;
    margin: 10px 30px 30px 40px;
    padding: 30px 30px 30px 40px;
    border-radius: 10px;
}
.card>img{
    margin: 50px 0 50px 0;
}

.context{
    background-color: #EEEEEE;
    min-height: 700px;
    width: 61% ;
    margin: 0 18% 0 18%;
    padding: 15px 60px 15px 60px;
}

.foot{
    height: 60px;
    padding: 20px 0 20px 0;
    background-color: #3b4245;
}
.btn-small{
    width: 60px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}
.btn-small-Green{
    border-radius: 3px;
    background-color: #1d643b;
    color: white;
}
.btn-small-red{
    border-radius: 3px;
    background-color: #912a1a;
    color: white;
}
.btn-small-Yellow{
    border-radius: 3px;
    background-color: #ff9e3c;
    color: white;

}

.btn{
    padding: 10px; 
    border-radius: 5px;
    background-color: gray;
    color: whitesmoke;
}

.btn-group{
    width: 200px;
    margin: 0 auto;
}


.text-ali-center{
    text-align: center;
}

.span-row-2{
    font-size: 24px;
    padding-left: 40px;
}

.span-row-3{
    padding-left: 80px;
    padding-bottom: 20px;
}

.table-list{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
